@import '../../theme/theme-styles.scss';

.table {
	width: 100%;
	border: 1px solid $color-form-highlight;
}

.table-header {
	width: 100%;
	background: #000;
	padding: ($half-spacing-unit * 1.5) 0;

	tr {
		width: 100%;
		th {
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			padding: 20px;
		}
	}
}

tbody {
	tr {
		width: 100%;
		padding: ($half-spacing-unit * 1.5) 0;

		&:nth-of-type(odd) {
			background: $color-form-highlight;
		}
	}

	td {
		padding: 20px;
		text-align: center;
	}
}
